

.main-menu-content .navigation.navigation-main {
  padding-top: 0.75rem !important;
}

.brand-text {
  color: #25373f !important;
}

.brand-logo-full img {
  max-width: none !important;
  width: auto;
}

.column-action svg {
  stroke: currentColor !important;
}

.app-content.invoice-form-page {
  overflow: visible !important;
}