@import '../bootstrap-extended/include';
@import '../components/include';


.invoice-list-wrapper {
  @media (max-width: 470px) {
    .invoice_status {
      margin-top: 1rem;
      width: 100%;
      select {
        margin-left: 0 !important;
      }
    }
  }
}