@import '../bootstrap-extended/include';
@import '../components/include';


.faq-search {
  background-size: cover;
  background-color: rgba($primary, 0.12) !important;
  .faq-search-input {
    .input-group {
      &:focus-within {
        box-shadow: none;
      }
    }
  }
}

.faq-contact {
  .faq-contact-card {
    background-color: rgba($gray-100, 0.12);
  }
}

@include media-breakpoint-up(lg) {
  .faq-search {
    .card-body {
      padding: 8rem !important;
    }
  }
}

@include media-breakpoint-only(md) {
  .faq-search {
    .card-body {
      padding: 6rem !important;
    }
  }
}

@include media-breakpoint-up(md) {
  .faq-search {
    .faq-search-input {
      .input-group {
        width: 576px;
        margin: 0 auto;
      }
    }
  }
  .faq-navigation {
    height: 550px;
  }
}