@import '../bootstrap-extended/include';
@import '../components/include';


.pricing-card {
  .card {
    &.popular {
      border: 1px solid $primary;
    }
  }
  .list-group-circle {
    font-weight: $font-weight-bold;
    color: $headings-color;
  }
  .annual-plan {
    margin-bottom: 1.7rem;
    .plan-price {
      sup {
        top: -1.5rem;
        left: 0.2rem;
      }
      span {
        font-size: 3.5rem;
        line-height: 0.8;
      }
      sub {
        bottom: 0;
        right: 0.14rem;
      }
    }

    .annual-pricing {
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
    }
  }
}

.pricing-free-trial {
  height: 16.71rem;
  background-color: rgba(186, 191, 199, 0.12);
  margin-right: -$content-padding;
  margin-left: -$content-padding;
  margin-top: 7.5rem;
  margin-bottom: 6.3rem;

  .row {
    margin: 0;
  }
  .pricing-trial-content {
    padding: 0 1rem;
    img {
      position: relative;
      top: -3.1rem;
    }
  }
}

@include media-breakpoint-down(md) {
  .pricing-free-trial {
    height: auto;
    .pricing-trial-content {
      flex-direction: column;
      align-items: center;
      .pricing-trial-img {
        top: 0;
        margin-top: 2rem;
        height: 150px;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .pricing-free-trial {
    margin-right: -1.2rem;
    margin-left: -1.2rem;
  }
}