@import '../bootstrap-extended/include';
@import '../components/include';


#user-profile {
  .profile-header {
    overflow: hidden;

    .profile-img-container {
      position: absolute;
      bottom: -2rem;
      left: 2.14rem;
      z-index: 2;

      .profile-img {
        height: 8.92rem;
        width: 8.92rem;
        border: 0.357rem solid $white;
        background-color: $white;
        border-radius: $card-border-radius;
        box-shadow: $box-shadow;
      }
    }

    .profile-header-nav {
      .navbar {
        padding: 0.8rem 1rem;

        .navbar-toggler {
          line-height: 0;
        }
        .profile-tabs {
          .nav-item {
            i,
            svg {
              margin-right: 0;
            }
          }
        }
      }
    }
  }

  #profile-info {
    .profile-star {
      color: $gray-100;

      i,
      svg {
        &.profile-favorite {
          fill: $warning;
          stroke: $warning;
        }
      }
    }

    .profile-likes {
      fill: $danger;
      stroke: $danger;
    }

    .profile-polls-info {
      .progress {
        height: 0.42rem;
      }
    }
  }

  .profile-latest-img {
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: translateY(-4px) scale(1.2);
      z-index: 10;
    }
    img {
      margin-top: 1.28rem;
    }
  }

  .block-element {
    .spinner-border {
      border-width: 0.14rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  #user-profile {
    .profile-latest-img {
      img {
        width: 100%;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .profile-header-nav {
    .profile-tabs {
      width: 100%;
      margin-left: 13.2rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  #user-profile {
    .profile-header {
      .profile-img-container {
        .profile-img {
          height: 100px;
          width: 100px;
        }
        .profile-title {
          h2 {
            font-size: 1.5rem;
          }
        }
      }
    }
  }
}