@import '../bootstrap-extended/include';
@import '../components/include';


$svg-bg: #fcfcfc;

.knowledge-base-bg {
  background-size: cover;
  background-color: rgba($primary, 0.12) !important;

  .kb-search-input {
    .input-group {
      &:focus-within {
        box-shadow: none;
      }
    }
  }
}

.kb-search-content-info {
  .kb-search-content {
    .card-img-top {
      background-color: $svg-bg;
    }
  }
  .no-result {
    &.no-items {
      display: none;
    }
  }
}
.kb-title {
  display: flex;
  align-items: center;
}

@include media-breakpoint-up(md) {
  .knowledge-base-bg {
    .kb-search-input {
      .input-group {
        width: 576px;
        margin: 0 auto;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .knowledge-base-bg {
    .card-body {
      padding: 8rem;
    }
  }
}
@include media-breakpoint-only(md) {
  .knowledge-base-bg {
    .card-body {
      padding: 6rem;
    }
  }
}